@{
    ViewBag.Title = "Môn học";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using DuTruVatTu.Models;
@{
    IEnumerable<BacDaoTaoModel> lsBacDaoTao = ViewData["DSBacDaoTao"] as IEnumerable<BacDaoTaoModel>;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                THÔNG TIN / MÔN HỌC
            </div>
            <p class="category">Quản lý thông tin môn học bao gồm tra cứu, thêm và cập nhật.</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Bậc đào tạo</label>
                        <select class="form-control sel-bac-dao-tao">
                            @foreach (var item in lsBacDaoTao)
                            {
                                <option value="@item.MSBACDAOTAO">@item.TENBACDAOTAO</option>
                            }
                        </select>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table tbl">
                        <thead>
                            <tr>
                                <th class="w-5 text-center">STT</th>
                                <th>MÃ MÔN HỌC</th>
                                <th>TÊN MÔN HỌC</th>
                                <th class="w-10 text-center">LÝ THUYẾT</th>
                                <th class="w-15 text-center">THỰC HÀNH</th>
                                <th class="w-7 text-center">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="float">
    <span class="ti-plus icon-float"></span>
</a>

<div class="modal fade" id="modal-them" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm môn học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mã môn học</label>
                            <input type="text" class="form-control them-ma-mon-hoc" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tên môn học</label>
                            <input type="text" class="form-control them-ten-mon-hoc" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lý thuyết</label>
                            <input type="number" class="form-control them-ly-thuyet" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Thực hành</label>
                            <input type="number" class="form-control them-thuc-hanh" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-them">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cap-nhat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật môn học</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Mã môn học</label>
                            <input type="text" class="form-control cs-ma-mon-hoc" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>Tên môn học</label>
                            <input type="text" class="form-control cs-ten-mon-hoc" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Lý thuyết</label>
                            <input type="number" class="form-control cs-ly-thuyet" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Thực hành</label>
                            <input type="number" class="form-control cs-thuc-hanh" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-cap-nhat">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-xoa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3">
                        <span class="ti-eraser icon-xoa-modal"></span>
                    </div>
                    <div class="col-md-9">
                        <h5>Bạn chắc chứ ?</h5>
                        <div class="body-title-xoa">Khi xóa, thông tin sẽ không thể phục hồi lại được.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-xoa">Xóa</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var _MSHOCPHAN;
        function LayDanhSachMon(maBac, control) {
            $.ajax({
                url: "/MonHoc/MonHocTheoBacDaoTaoJSON",
                type: "POST",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "maBacDaoTao": maBac
                },
                success: function (data) {
                    var dl = $.parseJSON(data);
                    var ins = "";
                    for (i = 0; i < dl.length; i++) {
                        ins += "<tr>";
                        ins += "<td class='text-center'>" + (i + 1) + "</td>";
                        ins += "<td id='mhp-" + dl[i].MSHOCPHAN + "'>" + dl[i].MAHOCPHAN + "</td>";
                        ins += "<td id='thp-" + dl[i].MSHOCPHAN + "'>" + dl[i].TENHOCPHAN + "</td>";
                        ins += "<td id='lt-" + dl[i].MSHOCPHAN + "'  class='text-center'>" + dl[i].LYTHUYET + "</td>";
                        ins += "<td id='th-" + dl[i].MSHOCPHAN + "' class='text-center'>" + dl[i].THUCHANH + "</td>";
                        ins += "<td class='w-7 text-center'>"
                        ins += " <button class='btn btn-success edit open-modal-cap-nhat' value='" + dl[i].MSHOCPHAN + "'><span class='ti-pencil'></span></button>";
                        ins += "<button class='btn btn-danger edit open-modal-xoa' value='" + dl[i].MSHOCPHAN + "'><span class='ti-close'></span></button>";
                        ins += "</td>";
                        ins += "</tr>";
                    }
                    $(control + " tbody").empty();
                    $(control + " tbody").append(ins);
                },
                error: function (er) { console.log(er); }
            });
        }

        $('.sel-bac-dao-tao').change(function () {
            LayDanhSachMon($(this).val(), ".tbl");
        });

        $('.float').click(function () {
            $('#modal-them').modal('show');
        });

        $('.btn-them').click(function () {
            $.ajax({
                url: "/MonHoc/Them",
                type: "POST",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "maBacDaoTao": $('.sel-bac-dao-tao').val(),
                    "maHocPhan": $('.them-ma-mon-hoc').val(),
                    "tenMonHoc": $('.them-ten-mon-hoc').val(),
                    "lyThuyet": $('.them-ly-thuyet').val(),
                    "thucHanh": $('.them-thuc-hanh').val()
                },
                success: function (data) {
                    if (data > 0)
                        LayDanhSachMon($(this).val(), ".tbl");
                    alert(data);
                },
                error: function (er) { console.log(er); }
            });
        });

        $(document).on('click', '.open-modal-cap-nhat', function () {
            _MSHOCPHAN = $(this).val();
            $('.cs-ma-mon-hoc').val($('#mhp-' + _MSHOCPHAN).text());
            $('.cs-ten-mon-hoc').val($('#thp-' + _MSHOCPHAN).text());
            $('.cs-ly-thuyet').val($('#lt-' + _MSHOCPHAN).text());
            $('.cs-thuc-hanh').val($('#th-' + _MSHOCPHAN).text());
            $('#modal-cap-nhat').modal('show');
        });

        $('.btn-cap-nhat').click(function () {
            $.ajax({
                url: "/MonHoc/CapNhat",
                type: "POST",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "maBacDaoTao": $('.sel-bac-dao-tao').val(),
                    "mSMonHoc": _MSHOCPHAN,
                    "maMonHoc": $('.cs-ma-mon-hoc').val(),
                    "tenMonHoc": $('.cs-ten-mon-hoc').val(),
                    "lyThuyet": $('.cs-ly-thuyet').val(),
                    "thucHanh": $('.cs-thuc-hanh').val()
                },
                success: function (data) {
                    if (data > 0)
                        LayDanhSachMon($('.sel-bac-dao-tao').val(), ".tbl");
                    $('#modal-cap-nhat').modal('hide');
                },
                error: function (er) { console.log(er); }
            });
        });

        $(document).on('click', '.open-modal-xoa', function () {
            _MSHOCPHAN = $(this).val();
            $('#modal-xoa').modal('show');
        });

        $('.btn-xoa').click(function () {
            $.ajax({
                url: "/MonHoc/Xoa",
                type: "POST",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "mSMonHoc": _MSHOCPHAN,
                },
                success: function (data) {
                    if (data > 0)
                        LayDanhSachMon($('.sel-bac-dao-tao').val(), ".tbl");
                    $('#modal-xoa').modal('hide');
                },
                error: function (er) { console.log(er); }
            });
        });
    });
</script>