@{
    ViewBag.Title = "Vật tư - Phòng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using DuTruVatTu.Models;
@{
    IEnumerable<PhongModel> lsPhong = ViewData["DSPhong"] as IEnumerable<PhongModel>;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                THÔNG TIN / VẬT TƯ TRONG PHÒNG
            </div>
            <p class="category">Quản lý thông tin vật tư phòng bao gồm tra cứu, thêm và cập nhật.</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="from-group">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Phòng</label>
                                    <select class="form-control sel-phong">
                                        @foreach (var item in lsPhong)
                                        {
                                            <option value="@item.MSPHONG">@item.TENPHONG</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w-5 text-center">STT</th>
                                <th class="w-80">NHÓM VẬT TƯ</th>
                                <th class="w-7 text-center">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="text-center">1</td>
                                <td>Điện lạnh</td>
                                <td class="text-center">
                                    <button class="btn btn-success edit"><span class="ti-pencil"></span></button>
                                    <button class="btn btn-danger edit"><span class="ti-close"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="float">
    <span class="ti-plus icon-float" id="btnthem"></span>
</a>

<script>
    $(document).ready(function () {
        function LayDSach(maPhong, control) {
            $.ajax({
                url: "/Phong/Them",
                type: "post",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "maPhong": $('.them-tp').val(),
                    "msGiangVien": $('.them-gv').val()
                },
                success: function (data) {
                    toastr.success('Thêm phòng thành công');
                    location.reload();
                }
            });
        }
    })
</script>