@{
    ViewBag.Title = "Vật tư";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using DuTruVatTu.Models;
@{
    IEnumerable<NhomLinhVucModel> lsNhomLinhVuc = ViewData["DSNhomLinhVuc"] as IEnumerable<NhomLinhVucModel>;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                THÔNG TIN / VẬT TƯ
            </div>
            <p class="category">Quản lý thông tin vật tư bao gồm tra cứu, thêm và cập nhật.</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="from-group">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Lĩnh vực</label>
                                    <select class="form-control sel-nhom-linh-vuc">
                                        @foreach (var item in lsNhomLinhVuc)
                                        {
                                            <option value="@item.MSNHOMLINHVUC">@item.TENNHOMLINHVUC</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Nhóm vật tư</label>
                                    <select class="form-control sel-nhom-vat-tu"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w-5 text-center">STT</th>
                                <th class="w-7">HÌNH ẢNH</th>
                                <th class="w-7">TÊN VẬT TƯ</th>
                                <th class="w-7">ĐƠN VỊ TÍNH</th>
                                <th class="w-7 text-center">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="float">
    <span class="ti-plus icon-float" id="btnthem"></span>
</a>

<div class="modal fade" id="modal-them" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm vật tư</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Tên vật tư</label>
                        <input class="form-control them-ten-vat-tu" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Đơn vị tính</label>
                        <select class="form-control sel-them-don-vi-tinh">
                            <option value="Cái">Cái</option>
                            <option value="Bộ">Bộ</option>
                            <option value="Mét">Mét</option>
                            <option value="Bịt">Bịt</option>
                            <option value="m">m</option>
                            <option value="Cuồn">Cuồn</option>
                            <option value="Cuộn">Cuộn</option>
                            <option value="Tờ">Tờ</option>
                            <option value="Kg">Kg</option>
                            <option value="Thanh">Thanh</option>
                            <option value="Ống">Ống</option>
                            <option value="Cây">Cây</option>
                        </select>
                    </div>
                    @*<div class="col-md-6">
                            <label>Hình ảnh</label>
                            <br />
                            <button style="margin-top:-1px;" type="button" class="btn btn-success btn-mo-modal-img">Insert image</button>
                        </div>*@
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Hình ảnh</label><br />
                    </div>
                        <div class="col-md-12 text-center">
                            <div id="page">
                                <div class="wrap-custom-file">
                                    <label for="image2" class="img-vat-tu-mau">
                                        <span>Chọn ảnh linh kiện</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-them">Thêm</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-cap-nhat" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cập nhật phòng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label>Tên vật tư</label>
                        <input class="form-control cn-ten-vat-tu" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Đơn vị tính</label>
                        <select class="form-control sel-cn-don-vi-tinh">
                            <option value="Cái">Cái</option>
                            <option value="Bộ">Bộ</option>
                            <option value="Mét">Mét</option>
                            <option value="Bịt">Bịt</option>
                            <option value="m">m</option>
                            <option value="Cuồn">Cuồn</option>
                            <option value="Cuộn">Cuộn</option>
                            <option value="Tờ">Tờ</option>
                            <option value="Kg">Kg</option>
                            <option value="Thanh">Thanh</option>
                            <option value="Ống">Ống</option>
                            <option value="Cây">Cây</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Hình ảnh</label><br /><br />
                        <div id="page">
                            <div class="wrap-custom-file">
                                <label for="image3" id="cn-anh">
                                    <span>Chọn ảnh linh kiện</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-cap-nhat">Cập nhật</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-xoa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3">
                        <span class="ti-eraser icon-xoa-modal"></span>
                    </div>
                    <div class="col-md-9">
                        <h5>Bạn chắc chứ ?</h5>
                        <div class="body-title-xoa">Khi xóa, thông tin sẽ không thể phục hồi lại được.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-xoa-vat-tu">Xóa</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-load-anh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="height: 550px;">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Chọn ảnh vật tư</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" href="#thuvienanh" role="tab" data-toggle="tab">Thư viện ảnh</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#themanh" role="tab" data-toggle="tab">Tải lên</a>
                            </li>
                        </ul>
                        <hr />
                    </div>
                    <div class="col-md-12">
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active show" id="thuvienanh">
                                <div class="row list-thu-vien-anh" style="overflow-y: scroll; height: 400px;">
                                    <div class="col-md-2">
                                        <input type="checkbox" class="chk-img-vat-tu" />
                                        <img src="~/Uploads/21740498_878883312277596_1367665388262135781_n.jpg" alt="Alternate Text" style='width:100%' />
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="themanh">
                                <div class="row" style="height: 400px;">
                                    <div class="d-flex align-items-center bd-highlight justify-content-center" style="height: 100%; width: 100%;">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="p-2 bd-highlight">
                                                    <div id="page">
                                                        <div class="wrap-custom-file">
                                                            <input type="file" name="image1" id="image1" accept=".jpg, .png" />
                                                            <label for="image1">
                                                                <span>Chọn ảnh linh kiện</span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-12 text-center">
                                                <button type="button" class="btn btn-success btn-upload">Upload</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var _MSVATTU;
        var _MANHOMVATTU;
        var urlImage;
        var flag;
        $('input[type="file"]').each(function () {
            var $file = $(this),
                $label = $file.next('label'),
                $labelText = $label.find('span'),
                labelDefault = $labelText.text();
            $file.on('change', function (event) {
                var fileName = $file.val().split('\\').pop(),
                    tmppath = URL.createObjectURL(event.target.files[0]);
                if (fileName) {
                    $label
                        .addClass('file-ok')
                        .css('background-image', 'url(' + tmppath + ')');
                    $labelText.text(fileName);
                } else {
                    $label.removeClass('file-ok');
                    $labelText.text(labelDefault);
                }
            });
        });

        function LayDanhSachNhomVatTuTheoLinhVuc(maLinhVuc, tenSel) {
            $.ajax({
                type: "post",
                url: "/NhomVatTu/DSNhomVatTuJSON",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "msNhomLinhVuc": maLinhVuc
                },
                success: function (data) {
                    var dl = $.parseJSON(data);
                    var item = "";
                    for (i = 0; i < dl.length; i++) {
                        item += "<option value=" + dl[i].MSNHOMVATTU + ">" + dl[i].TENNHOMVATTU + "</option>";
                    }
                    $(tenSel).empty();
                    $(tenSel).append(item);
                }
            });
        }

        function LayDanhSachVatTuTheoNhomVatTu(maNhomVatTu, tenSel) {
            $(tenSel).empty();
            if (maNhomVatTu > 0) {
                $.ajax({
                    type: "post",
                    url: "/VatTu/DSVatTuJSON",
                    async: false,
                    data: {
                        "msNhomVatTu": maNhomVatTu
                    },
                    success: function (data) {
                        var dl = $.parseJSON(data);
                        var item = "";
                        for (i = 0; i < dl.length; i++) {
                            item += "<tr>";
                            item += "<td class='w-5 text-center'>" + (i + 1) + "</td>";
                            item += "<td id=avt-" + dl[i].MSVATTU + "><img src='.." + dl[i].HINHANH + "' style='width: 40px;height: 40px;'/></td>";
                            item += "<td id=tvt-" + dl[i].MSVATTU + ">" + dl[i].TENVATTU + "</td>";
                            item += "<td id=dvt-" + dl[i].MSVATTU + ">" + dl[i].DONVITINH + "</td>";
                            item += "<td class='text-center'> <button class='btn btn-success edit btn-cn' value='" + dl[i].MSVATTU
                                + "'><span class='ti-pencil'></span></button> <button class='btn btn-danger edit btn-xoa' value='" + dl[i].MSVATTU
                                + "'><span class='ti-close'></span></button></td>";
                            item += "</tr>";
                        }
                        $(tenSel).append(item);
                    }
                });
            }
        }

        function LayDanhSachHinhAnh(control) {
            $.ajax({
                type: "post",
                url: "/LoadAnh/LoadAnhAjax",
                success: function (data) {
                    var dl = $.parseJSON(data);
                    var item = "";
                    for (i = 0; i < dl.length; i++) {
                        item += "<div class='col-2'>";
                        item += "<img src='" + dl[i].URL + "' alt='Alternate Text' class='img-vat-tu' />";
                        item += "</div>"
                    }
                    $(control).empty();
                    $(control).append(item);
                }
            });
        }

        $('.sel-nhom-linh-vuc').change(function () {
            LayDanhSachNhomVatTuTheoLinhVuc($('.sel-nhom-linh-vuc').val(), ".sel-nhom-vat-tu");
            LayDanhSachVatTuTheoNhomVatTu($('.sel-nhom-vat-tu').val(), "tbody");
        });

        $('.sel-nhom-vat-tu').change(function () {
            LayDanhSachVatTuTheoNhomVatTu($('.sel-nhom-vat-tu').val(), "tbody");
        });

        $('.sel-nhom-linh-vuc').trigger("change");

        $('#btnthem').click(function () {
            if ($('.sel-nhom-linh-vuc').val() != null && $('.sel-nhom-vat-tu').val() != null) {
                $('.img-vat-tu-mau').css('background-image', 'url(/Public/Images/300.png)');
                $('.img-vat-tu-mau').addClass('file-ok');
                $('#modal-them').modal('show');
            }
            else toastr.warning('Lĩnh vực hoặc nhóm vật tư không được bỏ trống');
        });

        function UploadImage(data) {
            var temp;
            $.ajax({
                type: "POST",
                url: '/VatTu/Upload',
                data: data,
                async: false,
                contentType: false,
                processData: false,
                success: function (result) {
                    temp = result;
                },
                error: function (error) { console.log(eror); }
            });
            return temp;
        }

        $('.btn-upload').click(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("image1").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("image1").files[i];
                formData.append("image1", file);
            }
            if (totalFiles != 0) {
                urlImage = UploadImage(formData);
                if (flag == 'insert') {
                    $('.img-vat-tu-mau').css('background-image', 'url(' + urlImage + ')');
                    $('.img-vat-tu-mau').addClass('file-ok');
                }
                if (flag == 'update') {
                    $('#cn-anh').css('background-image', 'url(' + urlImage + ')');
                    $('#cn-anh').addClass('file-ok');
                }
                $('#modal-load-anh').modal('hide');
            }
            else toastr.warning('Ảnh không được bỏ trống');
        });

        function getURL(url) {
            url = url.replace('url("', "");
            url = url.substr(0, url.length - 2);
            var st = 0;
            var index = 0;
            for (var i = 0; i < url.length; i++) {
                index = i;
                if (url.charAt(i) == '/')
                    st++;
                if (st == 3)
                    break;
            }
            url = url.substr(index, url.length - 1);
            return url;
        }

        $('.btn-them').click(function () {
            $.ajax({
                type: "post",
                url: "/VatTu/Them",
                data: {
                    "msNhomVatTu": $('.sel-nhom-vat-tu').val(),
                    "tenVatTu": $('.them-ten-vat-tu').val(),
                    "donViTinh": $('.sel-them-don-vi-tinh').val(),
                    "urlHinhAnh": getURL($('.img-vat-tu-mau').css('background-image'))
                },
                success: function (data) {
                    LayDanhSachVatTuTheoNhomVatTu($('.sel-nhom-vat-tu').val(), "tbody");
                    toastr.success('Thêm vật tư thành công');
                }
            });
        });

        $(document).on('click', '.btn-cn', function () {
            _MSVATTU = $(this).val();
            $('.cn-ten-vat-tu').val($('#tvt-' + _MSVATTU).text());
            $('.sel-cn-don-vi-tinh').val($('#dvt-' + _MSVATTU).text());
            $('#cn-anh').css('background-image', 'url(' + $('#avt-' + _MSVATTU + " img").attr('src') + ')');
            $('#cn-anh').addClass('file-ok');
            $('#modal-cap-nhat').modal('show');
        });

        $('.btn-cap-nhat').click(function () {
            $.ajax({
                type: "post",
                url: "/VatTu/CapNhat",
                data: {
                    "msVatTu": _MSVATTU,
                    "msNhomVatTu": $('.sel-nhom-vat-tu').val(),
                    "tenVatTu": $('.cn-ten-vat-tu').val(),
                    "donViTinh": $('.sel-cn-don-vi-tinh').val(),
                    "urlHinhAnh": getURL($('#cn-anh').css('background-image'))
                },
                success: function (data) {
                    LayDanhSachVatTuTheoNhomVatTu($('.sel-nhom-vat-tu').val(), "tbody");
                    toastr.success('Cập nhật vật tư thành công');
                    $('#modal-cap-nhat').modal('hide');
                }
            });
        });

        $('.img-vat-tu-mau').click(function () {
            LayDanhSachHinhAnh('.list-thu-vien-anh');
            $('#modal-load-anh').modal('show');
            flag = 'insert';
        });

        $('#cn-anh').click(function () {
            LayDanhSachHinhAnh('.list-thu-vien-anh');
            $('#modal-load-anh').modal('show');
            flag = 'update';
        });

        $(document).on('click', '.list-thu-vien-anh div img', function () {
            if (flag == 'insert') {
                $('.img-vat-tu-mau').css('background-image', 'url(' + $(this).attr('src') + ')');
                $('.img-vat-tu-mau').addClass('file-ok');
            }
            if (flag == 'update') {
                $('#cn-anh').css('background-image', 'url(' + $(this).attr('src') + ')');
                $('#cn-anh').addClass('file-ok');
            }
            $('#modal-load-anh').modal('hide');
        });

        $(document).on('click', '.btn-xoa', function () {
            _MSVATTU = $(this).val();
            $('#modal-xoa').modal('show');
        });

        $('.btn-xoa-vat-tu').click(function () {
            $.ajax({
                type: "post",
                url: "/VatTu/Xoa",
                data: {
                    "msVatTu": _MSVATTU
                },
                success: function (data) {
                    LayDanhSachVatTuTheoNhomVatTu($('.sel-nhom-vat-tu').val(), "tbody");
                    toastr.success('Xóa vật tư thành công');
                    $('#modal-xoa').modal('hide');
                }
            });
        });
    });
</script>