
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using DuTruVatTu.Models;
@{
    IEnumerable<DuTruVatTuModel> lsLopHocPhan = ViewData["DSLopHocPhan"] as IEnumerable<DuTruVatTuModel>;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                DỰ TRÙ VẬT TƯ
            </div>
            <p class="category">Quản lý dự trù vật tư bao gồm tra cứu, thêm và cập nhật.</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="from-group">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Lớp học phần</label>
                                    <select class="form-control sel-lop-hoc-phan">
                                        @foreach (var item in lsLopHocPhan)
                                        {
                                            <option value="@item.MSLOPHOCPHAN">@item.TENLOPHOCPHAN</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w-5 text-center">STT</th>
                                <th class="w-15">LĨNH VỰC</th>
                                <th class="w-15">NHÓM VẬT TƯ</th>
                                <th>TÊN VẬT TƯ</th>
                                <th class="w-10 text-center">SỐ LƯỢNG</th>
                                <th class="w-15 text-center">NGÀY DỰ TRÙ</th>
                                <th class="w-7 text-center">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="float">
    <span class="ti-plus icon-float" id="btnthem"></span>
</a>

<script>
    $(document).ready(function () {
        function LayDanhSach(maLHP, control) {
            $(control).empty();
            if (maLHP > 0) {
                $.ajax({
                    url: "/DuTruVatTu/DanhSachDuTruJSON",
                    type: "POST",
                    data: {
                        "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                        "maLopHocphan": maLHP
                    },
                    success: function (data) {
                        var dl = $.parseJSON(data);
                        var item = "";
                        for (i = 0; i < dl.length; i++) {
                            item += "<tr>";
                            item += "<td class='w-5 text-center'>" + (i + 1) + "</td>";
                            item += "<td>" + dl[i].TENNHOMLINHVUC + "</td>";
                            item += "<td>" + dl[i].TENNHOMVATTU + "</td>";
                            item += "<td>" + dl[i].TENVATTU + "</td>";
                            item += "<td class='text-center'>" + dl[i].SOLUONGVATTU + "</td>";
                            item += "<td class='text-center'>" + dl[i].NGAYDUTRU + "</td>";
                            item += "<td class='text-center'> <button class='btn btn-success edit btn-cn' value='" + dl[i].MSDUTRUVATTU
                                + "'><span class='ti-pencil'></span></button> <button class='btn btn-danger edit btn-xoa' value='" + dl[i].MSDUTRUVATTU
                                + "'><span class='ti-close'></span></button></td>";
                            item += "</tr>";
                        }
                        $(control).append(item);
                    },
                    error: function (er) { console.log(er); }
                });
            }
        }
        $('.sel-lop-hoc-phan').click(function () {
            
            LayDanhSach($('.sel-lop-hoc-phan').val(), "tbody");
        });
        $('.sel-lop-hoc-phan').trigger("change");


    })
</script>
