
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                DỰ TRÙ VẬT TƯ
            </div>
            <p class="category">Quản lý dự trù vật tư bao gồm tra cứu, thêm và cập nhật.</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="from-group">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Lĩnh vực</label>
                                    <select class="form-control sel-nhom-linh-vuc">
                                        @*@foreach (var item in lsNhomLinhVuc)
                                        {
                                            <option value="@item.MSNHOMLINHVUC">@item.TENNHOMLINHVUC</option>
                                        }*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Nhóm vật tư</label>
                                    <select class="form-control sel-nhom-vat-tu"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w-5 text-center">STT</th>
                                <th class="w-7">HÌNH ẢNH</th>
                                <th class="w-7">TÊN VẬT TƯ</th>
                                <th class="w-7">ĐƠN VỊ TÍNH</th>
                                <th class="w-7 text-center">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="float">
    <span class="ti-plus icon-float" id="btnthem"></span>
</a>
