
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using DuTruVatTu.Models;
@{
    IEnumerable<DuTruVatTuModel> lsLopHocPhan = ViewData["DSLopHocPhan"] as IEnumerable<DuTruVatTuModel>;
    IEnumerable<NhomLinhVucModel> lsNhomLinhVuc = ViewData["DSNhomLinhVuc"] as IEnumerable<NhomLinhVucModel>;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                DỰ TRÙ VẬT TƯ
            </div>
            <p class="category">Quản lý dự trù vật tư bao gồm tra cứu, thêm và cập nhật.</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="from-group">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Lớp học phần</label>
                                    <select class="form-control sel-lop-hoc-phan">
                                        @foreach (var item in lsLopHocPhan)
                                        {
                                            <option value="@item.MSLOPHOCPHAN">@item.TENLOPHOCPHAN</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w-5 text-center">STT</th>
                                <th class="w-15">LĨNH VỰC</th>
                                <th class="w-15">NHÓM VẬT TƯ</th>
                                <th>TÊN VẬT TƯ</th>
                                <th class="w-7">SỐ LƯỢNG</th>
                                <th class="w-15 text-center">NGÀY DỰ TRÙ</th>
                                <th class="w-7 text-center">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody class="content"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-them" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm dự trù vật tư</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Lĩnh vực</label>
                        <select class="form-control sel-nhom-linh-vuc-them">
                            @foreach (var item in lsNhomLinhVuc)
                            {
                                <option value="@item.MSNHOMLINHVUC">@item.TENNHOMLINHVUC</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Nhóm vật tư</label>
                        <select class="form-control sel-nhom-vat-tu-them">
                        </select>
                       
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Danh sách vật tư</label>
                        <div style="height:200px;">
                            <select multiple class="form-control danh-sach-vat-tu" style="height:100%;">
                                
                            </select>                          
                        </div>
                    </div>
                   
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>Vật tư được chọn</label>
                        <div style="overflow-y: scroll;height:180px;">
                            <table class="table vat-tu-duoc-chon table-striped">
                                <thead>
                                    <tr>
                                        <td>TÊN VẬT TƯ</td>
                                        <td class="w-20">LĨNH VỰC</td>
                                        <td class="w-20">NHÓM VẬT TƯ</td>
                                        <td class="w-10">SỐ LƯỢNG</td>
                                        <td class="w-10">THAO TÁC</td>
                                    </tr>
                                </thead>
                                <tbody >

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-them">Thêm</button>
            </div>
        </div>
    </div>
</div>

<a href="#" id="menu-share">
    <span class="ti-angle-up my-float"></span>
</a>
<ul class="a">
    <li style="margin-bottom:-10px;">
        <a href="#">
            <span class="ti-save my-float"></span>
        </a>
    </li>
    <li>
        <a href="#" id="btnthem">
            <span class="ti-plus my-float" ></span>
        </a>
    </li>
</ul>

<div class="modal fade" id="modal-xoa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row" style="margin-top: 35px;">
                    <div class="col-md-3">
                        <span class="ti-eraser icon-xoa-modal"></span>
                    </div>
                    <div class="col-md-9">
                        <h5>Bạn chắc chứ ?</h5>
                        <div class="body-title-xoa">Khi xóa, thông tin sẽ không thể phục hồi lại được.</div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-danger btn-xoa-du-tru">Xóa</button>
            </div>            
        </div>
    </div>
</div>

<script>
    var msDuTruVatTuChiTiet;
    $(document).ready(function () {
        function LayDanhSach(maLHP, control) {
            $(control).empty();
            if (maLHP > 0) {
                $.ajax({
                    url: "/DuTruVatTu/DanhSachDuTruJSON",
                    type: "POST",
                    data: {
                        "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                        "maLopHocphan": maLHP
                    },
                    success: function (data) {
                        var dl = $.parseJSON(data);
                        var item = "";
                        for (i = 0; i < dl.length; i++) {
                            item += "<tr>";
                            item += "<td class='w-5 text-center'>" + (i + 1) + "</td>";
                            item += "<td>" + dl[i].TENNHOMLINHVUC + "</td>";
                            item += "<td>" + dl[i].TENNHOMVATTU + "</td>";
                            item += "<td>" + dl[i].TENVATTU + "</td>";
                            item += "<td> <input type='number' name='soluong' style='width: 80px;' min=1 class='form-control' value=" + dl[i].SOLUONGVATTU +" /></td>";
                            item += "<td class='text-center'>" + dl[i].NGAYDUTRU + "</td>";
                            item += "<td class='text-center'><button class='btn btn-danger edit btn-xoa' value='" + dl[i].MSDUTRUVATTUCHITIET
                                + "'><span class='ti-close'></span></button></td>";
                            item += "</tr>";
                        }
                        $(control).append(item);
                    },
                    error: function (er) { console.log(er); }
                });
            }
        }
        function LayDanhSachNhomVatTuTheoLinhVuc(maLinhVuc, tenSel) {
            $.ajax({
                type: "post",
                url: "/NhomVatTu/DSNhomVatTuJSON",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "msNhomLinhVuc": maLinhVuc
                },
                success: function (data) {
                    var dl = $.parseJSON(data);
                    var item = "";
                    for (i = 0; i < dl.length; i++) {
                        item += "<option value=" + dl[i].MSNHOMVATTU + ">" + dl[i].TENNHOMVATTU + "</option>";
                    }
                    $(tenSel).empty();
                    $(tenSel).append(item);
                    if ($(tenSel + " option").length == 0)
                        $('.danh-sach-vat-tu').empty();
                }
            });
        }

        function LayDanhSachVatTuChuaCoDuTru(maLopHocPhan, maLinhVuc, maNhomVatTu, tenSel) {
            if (maLopHocPhan.length == 0 || maLinhVuc.length == 0 || maNhomVatTu == null) {
                $('.danh-sach-vat-tu').empty();
                return;
            }
            $.ajax({
                type: "post",
                url: "/DuTruVatTu/DSVatTuJSON",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "maLopHocphan": maLopHocPhan,
                    "maLinhVuc": maLinhVuc,
                    "maNhomVatTu": maNhomVatTu
                },
                success: function (data) {
                    var dl = $.parseJSON(data);
                    var item = "";
                    for (i = 0; i < dl.length; i++) {
                        item += "<option class='danhsachvattu' value=" + dl[i].MSVATTU + ">" + dl[i].TENVATTU + "</option>";
                    }
                    $(tenSel).empty();
                    $(tenSel).append(item);
                }
            });
        }

        $('.sel-nhom-linh-vuc-them').change(function () {
            LayDanhSachNhomVatTuTheoLinhVuc($('.sel-nhom-linh-vuc-them').val(), ".sel-nhom-vat-tu-them");
            LayDanhSachVatTuChuaCoDuTru($('.sel-lop-hoc-phan').val(), $('.sel-nhom-linh-vuc-them').val(), $('.sel-nhom-vat-tu-them').val(), ".danh-sach-vat-tu");
        });

        $('.sel-nhom-vat-tu-them').change(function () {
            LayDanhSachVatTuChuaCoDuTru($('.sel-lop-hoc-phan').val(), $('.sel-nhom-linh-vuc-them').val(), $('.sel-nhom-vat-tu-them').val(), ".danh-sach-vat-tu");
        });

        $('.sel-nhom-linh-vuc-them').trigger("change");

        $('.sel-lop-hoc-phan').change(function () {
            LayDanhSach($('.sel-lop-hoc-phan').val(), ".content");
        });
        $('.sel-lop-hoc-phan').trigger("change");

        $('#btnthem').click(function () {
            $('.sel-nhom-linh-vuc-them').trigger("change");
            $('#modal-them').modal('show');
        });

        function KTDanhSachDuTru(vattu, linhvuc, nhom) {
            var row = $('.vat-tu-duoc-chon').find('tbody').find('tr');
            for (var i = 0; i < row.length; i++) {
                var tenvattu = $(row[i]).find('td:eq(0)').html();
                var tenlinhvuc = $(row[i]).find('td:eq(1)').html();
                var tennhom = $(row[i]).find('td:eq(2)').html();
                if (tenvattu == vattu && tenlinhvuc == linhvuc && tennhom == nhom)  return false;
            }
            return true;
        }

        $('.danh-sach-vat-tu').on("dblclick click", function () {
            if (KTDanhSachDuTru($('.danh-sach-vat-tu option:selected').text(), $('.sel-nhom-linh-vuc-them option:selected').text(), $('.sel-nhom-vat-tu-them option:selected').text()))
            {
                var item="";
                item += "<tr>";
                item += "<td data='" + $('.danh-sach-vat-tu option:selected').val() +"'>" + $('.danh-sach-vat-tu option:selected').text() + "</td>";
                item += "<td>" + $('.sel-nhom-linh-vuc-them option:selected').text() + "</td>";
                item += "<td>" + $('.sel-nhom-vat-tu-them option:selected').text() + "</td>";
                item += "<td class='text-center'><input type='number' class='form-control' value='1' style='width: 50px;' /></td>";
                item += "<td class='text-center'><button class='btn btn-danger edit btn-xoa-vat-tu-duoc-chon' value=''><span class='ti-close'></span></button></td>";
                item += "</tr>";
                $('.vat-tu-duoc-chon tbody').append(item);
                toastr.success('thành công');
            }
            else toastr.error('lỗi');
        });

        $(document).on('click', '.btn-xoa-vat-tu-duoc-chon', function () {
            $(this).parent().closest('tr').remove();
        });

        var mangVatTu = [];
        var mangSoLuong = [];
        $('.btn-them').click(function () {
            var row = $('.vat-tu-duoc-chon').find('tbody').find('tr');
            for (var i = 0; i < row.length; i++) {
                var mvt = $(row[i]).find('td:eq(0)').attr('data');
                var sl = $(row[i]).find('td:eq(3) input').val();
                mangVatTu.push(mvt);
                mangSoLuong.push(sl);
            }
            $.ajax({
                type: "post",
                url: "/DuTruVatTu/ThemDuTruVatTu",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "mangVatTu": JSON.stringify(mangVatTu),
                    "mangSoLuong": JSON.stringify(mangSoLuong),
                    "msLopHocPhan": $('.sel-lop-hoc-phan').val()
                },
                success: function (data) {
                    $('#modal-them').modal('hide');
                    location.reload();
                }
            });
        });

        $(document).on('click', '.btn-xoa', function () {
            msDuTruVatTuChiTiet = $(this).val();
            $('#modal-xoa').modal('show');
        });

        $('.btn-xoa-du-tru').click(function () {
            $.ajax({
                type: "post",
                url: "/DuTruVatTu/Xoa",
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "maDuTruVatTuChiTiet": msDuTruVatTuChiTiet
                },
                success: function (data) {
                    LayDanhSach($('.sel-lop-hoc-phan').val(), ".content");
                    toastr.success('Xóa vật tư thành công');
                    $('#modal-xoa').modal('hide');
                }
            });
        });
    })
</script>
