
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using DuTruVatTu.Models;
@{
    IEnumerable<DuTruVatTuModel> lsLopHocPhan = ViewData["DSLopHocPhan"] as IEnumerable<DuTruVatTuModel>;
    IEnumerable<NhomLinhVucModel> lsNhomLinhVuc = ViewData["DSNhomLinhVuc"] as IEnumerable<NhomLinhVucModel>;
}
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                DỰ TRÙ VẬT TƯ
            </div>
            <p class="category">Quản lý dự trù vật tư bao gồm tra cứu, thêm và cập nhật.</p>
        </div>
        <div class="card-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="from-group">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="from-group">
                                    <label>Lớp học phần</label>
                                    <select class="form-control sel-lop-hoc-phan">
                                        @foreach (var item in lsLopHocPhan)
                                        {
                                            <option value="@item.MSLOPHOCPHAN">@item.TENLOPHOCPHAN</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w-5 text-center">STT</th>
                                <th class="w-15">LĨNH VỰC</th>
                                <th class="w-15">NHÓM VẬT TƯ</th>
                                <th>TÊN VẬT TƯ</th>
                                <th class="w-10 text-center">SỐ LƯỢNG</th>
                                <th class="w-15 text-center">NGÀY DỰ TRÙ</th>
                                <th class="w-7 text-center">THAO TÁC</th>
                            </tr>
                        </thead>
                        <tbody class="content"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-them" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Thêm dự trù vật tư</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Lĩnh vực</label>
                        <select class="form-control sel-nhom-linh-vuc-them">
                            @foreach (var item in lsNhomLinhVuc)
                            {
                                <option value="@item.MSNHOMLINHVUC">@item.TENNHOMLINHVUC</option>
                            }
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label>Nhóm vật tư</label>
                        <select class="form-control sel-nhom-vat-tu-them">
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <label>Danh sách vật tư</label>
                        <div style="height:200px;">
                            <select multiple class="form-control" style="height:100%;">
                                <option value="1">Vật tư 1</option>
                                <option value="2">Vật tư 2</option>
                                <option value="3">Vật tư 3</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label>Vật tư được chọn</label>
                        <br />
                        <div style="height:200px;">
                            <select multiple class="form-control" style="height:100%;">
                                <option value="1">Vật tư 1</option>
                                <option value="2">Vật tư 2</option>
                                <option value="3">Vật tư 3</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success btn-them">Thêm</button>
            </div>
        </div>
    </div>
</div>

<a class="float">
    <span class="ti-plus icon-float" id="btnthem"></span>
</a>

<script>
    $(document).ready(function () {
        function LayDanhSach(maLHP, control) {
            $(control).empty();
            if (maLHP > 0) {
                $.ajax({
                    url: "/DuTruVatTu/DanhSachDuTruJSON",
                    type: "POST",
                    data: {
                        "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                        "maLopHocphan": maLHP
                    },
                    success: function (data) {
                        var dl = $.parseJSON(data);
                        var item = "";
                        for (i = 0; i < dl.length; i++) {
                            item += "<tr>";
                            item += "<td class='w-5 text-center'>" + (i + 1) + "</td>";
                            item += "<td>" + dl[i].TENNHOMLINHVUC + "</td>";
                            item += "<td>" + dl[i].TENNHOMVATTU + "</td>";
                            item += "<td>" + dl[i].TENVATTU + "</td>";
                            item += "<td class='text-center'>" + dl[i].SOLUONGVATTU + "</td>";
                            item += "<td class='text-center'>" + dl[i].NGAYDUTRU + "</td>";
                            item += "<td class='text-center'> <button class='btn btn-success edit btn-cn' value='" + dl[i].MSDUTRUVATTU
                                + "'><span class='ti-pencil'></span></button> <button class='btn btn-danger edit btn-xoa' value='" + dl[i].MSDUTRUVATTU
                                + "'><span class='ti-close'></span></button></td>";
                            item += "</tr>";
                        }
                        $(control).append(item);
                    },
                    error: function (er) { console.log(er); }
                });
            }
        }
        function LayDanhSachNhomVatTuTheoLinhVuc(maLinhVuc, tenSel) {
            $.ajax({
                type: "post",
                url: "/NhomVatTu/DSNhomVatTuJSON",
                async: false,
                data: {
                    "__RequestVerificationToken": $('input[name="__RequestVerificationToken"]').val(),
                    "msNhomLinhVuc": maLinhVuc
                },
                success: function (data) {
                    var dl = $.parseJSON(data);
                    var item = "";
                    for (i = 0; i < dl.length; i++) {
                        item += "<option value=" + dl[i].MSNHOMVATTU + ">" + dl[i].TENNHOMVATTU + "</option>";
                    }
                    $(tenSel).empty();
                    $(tenSel).append(item);
                }
            });
        }

        $('.sel-nhom-linh-vuc-them').change(function () {
            LayDanhSachNhomVatTuTheoLinhVuc($('.sel-nhom-linh-vuc-them').val(), ".sel-nhom-vat-tu-them");
        });
        $('.sel-nhom-linh-vuc-them').trigger("change");

        $('.sel-lop-hoc-phan').change(function () {
            LayDanhSach($('.sel-lop-hoc-phan').val(), ".content");
        });
        $('.sel-lop-hoc-phan').trigger("change");

        $('#btnthem').click(function () {
            $('#modal-them').modal('show');
        });

    })
</script>
