@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="col" style="margin: 30px 90px;">
    <p class="tieu-de-tren">
        Xin chào...
    </p>
    <p class="tieu-de-duoi">
        hệ thống dự trù vật tư giảng dạy
    </p>
    <hr style="width: 70%"/>
</div>
<style>
    .tieu-de-tren {
        font-size: 100px;
        font-weight: bold;
        text-align: center;
        width: 100%;
        color: #525252;
        text-align: left;
    }
    .tieu-de-duoi {
        font-size: 80px;
        font-weight: 100;
        text-align: center;
        width: 100%;
        color: #525252;
        margin-top: -50px;
    }
</style>

