@{
    ViewBag.Title = "Học kỳ - năm học";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="card-title">
                PHÂN CÔNG GIẢNG DẠY / HỌC KỲ - NĂM HỌC
            </div>
            <p class="category">Quản lý thông tin học kỳ năm học bao gồm tra cứu, thêm và cập nhật thông tin học kỳ năm học.</p>
        </div>
        <div class="card-content">
            <div class="col-md-12">
                <div class="nav-tabs-navigation">
                    <div class="nav-tabs-wrapper">
                        <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                            <li class=""><a href="#home" data-toggle="tab" aria-expanded="false">Home</a></li>
                            <li class=""><a href="#profile" data-toggle="tab" aria-expanded="false">Profile</a></li>
                            <li class="active"><a href="#messages" data-toggle="tab" aria-expanded="true">Messages</a></li>
                        </ul>
                    </div>
                </div>
                <div id="my-tab-content" class="tab-content text-center">
                    <div class="tab-pane" id="home">
                        <p>Larger, yet dramatically thinner. More powerful, but remarkably power efficient. With a smooth metal surface that seamlessly meets the new Retina HD display.</p>
                    </div>
                    <div class="tab-pane" id="profile">
                        <p>Here is your profile.</p>
                    </div>
                    <div class="tab-pane active" id="messages">
                        <p>Here are your messages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<a class="float">
    <span class="ti-save icon-float"></span>
</a>