@{
    ViewBag.Title = "Truy cập từ chối";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12">
    <div class="alert alert-danger" role="alert" style="width: 100%">
        Bạn không có quyền truy cập đến tính năng này.
    </div>
</div>